{% extends "starter-page.html" %}
{% load static %}
{% block content %}

<div class="d-flex flex-wrap gap-3 container">
    {% for x in all %}

        <div class="card w-30 p-3 shadow-lg">
        <p class="text-primary fw-bold">{{ x.name }}</p>
        <p><b>Email : </b> {{ x.email }}</p>
        <p><b>Subject : </b> {{ x.subject }}</p>
        <p><b>Message : </b> {{ x.message }}</p>
        <p>
            <a href="" class=" me-5">
                <i class="bi bi-pencil"></i>Edit
            </a>
            <a href="/delete/{{ x.id }}">
                <i class="bi bi-trash"></i>Delete
            </a>
        </p>



        </div>

    {% endfor %}

</div>


{% endblock %}